{% extends "infohub/base.html" %}

{% block content %}
<br><br><br><br><br><br>
<center><h2><font color="#2c0f00"> pcsa : infoHub</font> </h2></center>
<div class="well">
    <h2 class="text-center inverted-font">Edit Post</h2>
    <br>
    <form class="form-horizontal" action="{% url 'pcsa_safety_tools:edit_post' post.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-1">
                <input class="form-control" type="text" name="title" value="{% if form.title.value %}{{ form.title.value }}{% endif %}" placeholder="Title">
                <p class="help-block inverted-font">
                    <strong>
                        {% if form.title.errors %}
                            {% for error in form.title.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </strong>
                </p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-1">
                <textarea class="form-control" rows="18" name="description" minlength=100 placeholder="Description of your post">{% if form.title.value %}{{ form.description.value }}{% endif %}</textarea>
                <p class="help-block inverted-font">    
                    <strong>
                        {% if form.description.errors %}
                            {% for error in form.description.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </strong>
                </p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 col-sm-offset-1">
                <button type="submit" class="btn btn-default">Submit</button>
                <a href="{% url 'pcsa_safety_tools:home' %}" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </form>
    <br>    
</div>
<br><br>
{% endblock %}
